@section Header {
    <p>Only for Get Header</p>
}
@model Product

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">
                @Model.ProductName
            </h6>
            <img class="img-fluid shadow rounded-3 my-3" src="@Model?.ImageUrl" alt="@Model?.ProductName">
            <p class="lead">@Model?.Price.ToString("c")</p>
            <p>@Model?.Summary</p>
            <div class="btn-group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-house"></i>
                    Home</a>
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary"><i
                        class="fa-solid fa-list"></i>
                    Products</a>
            </div>
        </div>
    </div>
</div>
