@model StoreApp.Models.Product

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>@Model.ProductName</h2>
    <h3>@Model.Price</h3>
    <a href="/Product">Back to Products</a>
</body>

</html>