@section Footer {
    <div>Only for Index Footer</div>
}
@model IQueryable<Product>

<div class="row">
    <div class="col-3">
        @await Component.InvokeAsync("CategoriesMenu")
    </div>
    <div class="col-9">
        <div class="row my-2">
            @foreach (Product product in Model)
            {
                <partial name="_ProductCard" model="@product" />
            }
        </div>
    </div>
</div>
