<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Dashboard" asp-action="Index">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link active" aria-current="page" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                <a class="nav-link" asp-controller="Product" asp-action="Index">Products (@await Component.InvokeAsync("ProductSummary"))</a>
                <a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a>
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </div>
            <div class="navbar-nav">
                <a target="_blank" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Back to Site</a>
            </div>
        </div>
    </div>
</nav>
